{{ bos_token }}{% for message in messages %}{% if message['role'] == 'system' %}{% if message['content'] is string %}{{ '<<SYS>>\n' + message['content'] + '\n<</SYS>>\n\n' }}{% else %}{{ '<<SYS>>\n' + message['content'][0]['text'] + '\n<</SYS>>\n\n' }}{% endif %}{% elif message['role'] == 'user' %}{{ '[INST] ' }}{% for content in message['content'] %}{% if content['type'] == 'image' or content['type'] == 'image_url' %}{{ '<image>\n' }}{% endif %}{% endfor %}{% for content in message['content'] %}{% if content['type'] == 'text' %}{{ content['text'] }}{% endif %}{% endfor %}{{ ' [/INST]' }}{% elif message['role'] == 'assistant' %}{% if message['content'] is string %}{{ message['content'] + eos_token }}{% else %}{{ message['content'][0]['text'] + eos_token }}{% endif %}{% else %}{{ raise_exception('Only system, user, and assistant roles are supported!') }}{% endif %}{% endfor %}
